.nav-menu{
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  padding-top: 60px;
  color: white;
  text-decoration: none;
  padding-right: 1rem;
}
.menu-item{
  color: white;
}
