.nav-menu{
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  padding-top: 60px;
  color: white;
  text-decoration: none;
  padding-right: 3rem;
}
.menu-item{
  color: white;
}
.dropdown {
  display: inline-block;
  cursor: pointer;
}

.dropdown__content {
  display: none;
  position: absolute;
}

.dropdown--active .dropdown__content {
  display: block;
}